<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
    <div class="bgimg">
      {{>navbar}}
    </div>
    <section class="container ouradmissions text-center">
        <h1>Admissions </h1>
        <div class="row rowsetting">
           
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
        <div class="row rowsetting">
           
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
        <div class="row rowsetting">
           
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto ">
                    <i class="fa-solid fa-gears fa-3x text-white "></i>
                </div> 
                <h2>Institute of Technology</h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur id ad dolorum ex soluta incidunt provident accusantium quia, repellat natus explicabo exercitationem hic!
                    </p>
                
            </div>


                
            </div>
       
         
         
          
           




        </div>

    </section>
    
</body>
</html>