 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <a href="" class="navbar-brand text-warning font-weight-bold">SILVER OAK UNIVERSITY</a>
                <button class="navbar-toggler" type="buttton" data-toggle="collapse" data-target="#collapsenavebar">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>

                <div class="collapse navbar-collapse text-center"  id="collapsenavebar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item    ">
                            <a href="/" class="nav-link text-white " >Home</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="" class="nav-link text-white ">About  </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="" class="nav-link text-white ">Academics </a>
                        </li>
                      
                        {{!-- <li class="nav-item  ">
                            <a href="/logie" class="nav-link text-white ">login</a>
                        </li> --}}
                        <li class="nav-item  ">
                            <a href="/logi" class="nav-link text-white ">login</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/logout" class="nav-link text-white ">logout</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/register" class="nav-link text-white ">register</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/contactus" class="nav-link text-white ">Contact Us</a>
                        </li>
                        <li class="nav-item  ">
                            <a href="/secret" class="nav-link text-white ">secret</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>